In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from scipy.stats import boxcox
from plotnine import *
from plotnine import ggplot, aes, geom_line
from pmdarima.arima import auto_arima
from statsmodels.tsa.arima.model import ARIMA
from tqdm.notebook import tqdm

In [2]:
# Load Data
calendar = pd.read_csv("Data/calendar_afcs2020.csv")
sales = pd.read_csv("Data/sales_train_evaluation_afcs2020.csv")
train = pd.read_csv("Data/sales_train_validation_afcs2020.csv")
sample_submission = pd.read_csv("Data/sample_submission_afcs2020.csv")
price = pd.read_csv("Data/sell_prices_afcs2020.csv")

In [3]:
timesteps = 14
startDay = 0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Columns: 1914 entries, id to d_1913
dtypes: int64(1913), object(1)
memory usage: 2.2+ MB

In [5]:
def downcast_dtypes(df):
    float_cols = [c for c in df if df[c].dtype == "float64"]
    int_cols = [c for c in df if df[c].dtype in ["int64", "int32"]]
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols] = df[int_cols].astype(np.int16)
    return df

In [6]:
dt = downcast_dtypes(train)

In [7]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Columns: 1914 entries, id to d_1913
dtypes: int16(1913), object(1)
memory usage: 558.0+ KB

In [8]:
dt = dt.T
dt.head()

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
id,HOBBIES_2_001_CA_3_validation,HOBBIES_2_002_CA_3_validation,HOBBIES_2_003_CA_3_validation,HOBBIES_2_004_CA_3_validation,HOBBIES_2_005_CA_3_validation,HOBBIES_2_006_CA_3_validation,HOBBIES_2_007_CA_3_validation,HOBBIES_2_008_CA_3_validation,HOBBIES_2_009_CA_3_validation,HOBBIES_2_010_CA_3_validation,...,HOBBIES_2_140_CA_3_validation,HOBBIES_2_141_CA_3_validation,HOBBIES_2_142_CA_3_validation,HOBBIES_2_143_CA_3_validation,HOBBIES_2_144_CA_3_validation,HOBBIES_2_145_CA_3_validation,HOBBIES_2_146_CA_3_validation,HOBBIES_2_147_CA_3_validation,HOBBIES_2_148_CA_3_validation,HOBBIES_2_149_CA_3_validation
d_1,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
d_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
d_3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
d_4,0,1,0,0,0,1,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0

In [9]:
dt = dt[1 + startDay:]
dt.head()

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
d_1,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
d_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
d_3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
d_4,0,1,0,0,0,1,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
d_5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
daysBeforeEvent = pd.DataFrame(np.zeros((1969,1)))

In [11]:
# "1" is assigned to the days before the event_name_1. Since "event_name_2" is rare, it was not added.
for x,y in calendar.iterrows():
    if((pd.isnull(calendar["event_name_1"][x])) == False):
           daysBeforeEvent[0][x-1] = 1 
            #if first day was an event this row will cause an exception because "x-1".
            #Since it is not i did not consider for now.

In [12]:
del calendar

In [13]:
#"eventDaysTest" will be used as input for predicting (We will forecast the days 1913-1941)
daysBeforeEventTest = daysBeforeEvent[1913:1941]
#"eventDays" will be used for training as a feature.
daysBeforeEvent = daysBeforeEvent[startDay:1913]

In [14]:
#Before concatanation with our main data "dt", indexes are made same and column name is changed to "oneDayBeforeEvent"
daysBeforeEvent.columns = ["oneDayBeforeEvent"]
daysBeforeEvent.index = dt.index

In [15]:
dt = pd.concat([dt, daysBeforeEvent], axis = 1)

dt.columns

Index([                  0,                   1,                   2,
                         3,                   4,                   5,
                         6,                   7,                   8,
                         9,
       ...
                       140,                 141,                 142,
                       143,                 144,                 145,
                       146,                 147,                 148,
       'oneDayBeforeEvent'],
      dtype='object', length=150)

In [16]:
#Feature Scaling
#Scale the features using min-max scaler in range 0-1
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
dt_scaled = sc.fit_transform(dt)

In [17]:
X_train = []
y_train = []
for i in range(timesteps, 1913 - startDay):
    X_train.append(dt_scaled[i-timesteps:i])
    y_train.append(dt_scaled[i][0:149]) 
    #Ä°mportant!! if extra features are added (like oneDayBeforeEvent) 
    #use only sales values for predictions (we only predict sales) 
    #this is why 0:30490 columns are choosen

In [18]:
del dt_scaled

In [19]:
#Convert to np array to be able to feed the LSTM model
X_train = np.array(X_train)
y_train = np.array(y_train)
print(X_train.shape)
print(y_train.shape)

(1899, 14, 150)
(1899, 149)

In [20]:
# Importing the Keras libraries and packages
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [21]:
# Initialising the RNN
regressor = Sequential()

# Adding the first LSTM layer and some Dropout regularisation
layer_1_units=50
regressor.add(LSTM(units = layer_1_units, return_sequences = True, input_shape = (X_train.shape[1], X_train.shape[2])))
regressor.add(Dropout(0.2))

# Adding a second LSTM layer and some Dropout regularisation
layer_2_units=400
regressor.add(LSTM(units = layer_2_units, return_sequences = True))
regressor.add(Dropout(0.2))

# Adding a third LSTM layer and some Dropout regularisation
layer_3_units=400
regressor.add(LSTM(units = layer_3_units))
regressor.add(Dropout(0.4))

# Adding the output layer
regressor.add(Dense(units = 149))

# Compiling the RNN
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

# Fitting the RNN to the Training set
epoch_no=64
batch_size_RNN=64
regressor.fit(X_train, y_train, epochs = epoch_no, batch_size = batch_size_RNN)

Epoch 1/64
30/30 [==============================] - 7s 112ms/step - loss: 0.0087
Epoch 2/64
30/30 [==============================] - 4s 117ms/step - loss: 0.0079
Epoch 3/64
30/30 [==============================] - 4s 127ms/step - loss: 0.0080
Epoch 4/64
30/30 [==============================] - 4s 122ms/step - loss: 0.0075
Epoch 5/64
30/30 [==============================] - 4s 118ms/step - loss: 0.0075
Epoch 6/64
30/30 [==============================] - 3s 116ms/step - loss: 0.0076
Epoch 7/64
30/30 [==============================] - 4s 120ms/step - loss: 0.0076
Epoch 8/64
30/30 [==============================] - 4s 124ms/step - loss: 0.0077
Epoch 9/64
30/30 [==============================] - 4s 145ms/step - loss: 0.0076
Epoch 10/64
30/30 [==============================] - 4s 127ms/step - loss: 0.0076
Epoch 11/64
30/30 [==============================] - 4s 120ms/step - loss: 0.0074
Epoch 12/64
30/30 [==============================] - 4s 124ms/step - loss: 0.0075
Epoch 13/64
30/30 [==============================] - 4s 127ms/step - loss: 0.0074
Epoch 14/64
30/30 [==============================] - 4s 126ms/step - loss: 0.0073
Epoch 15/64
30/30 [==============================] - 4s 124ms/step - loss: 0.0076
Epoch 16/64
30/30 [==============================] - 4s 123ms/step - loss: 0.0074
Epoch 17/64
30/30 [==============================] - 4s 124ms/step - loss: 0.0074
Epoch 18/64
30/30 [==============================] - 4s 125ms/step - loss: 0.0075
Epoch 19/64
30/30 [==============================] - 4s 123ms/step - loss: 0.0073
Epoch 20/64
30/30 [==============================] - 4s 125ms/step - loss: 0.0076
Epoch 21/64
30/30 [==============================] - 4s 127ms/step - loss: 0.0074
Epoch 22/64
30/30 [==============================] - 4s 127ms/step - loss: 0.0074
Epoch 23/64
30/30 [==============================] - 4s 127ms/step - loss: 0.0072
Epoch 24/64
30/30 [==============================] - 4s 130ms/step - loss: 0.0072
Epoch 25/64
30/30 [==============================] - 4s 123ms/step - loss: 0.0073
Epoch 26/64
30/30 [==============================] - 4s 127ms/step - loss: 0.0072
Epoch 27/64
30/30 [==============================] - 4s 130ms/step - loss: 0.0072
Epoch 28/64
30/30 [==============================] - 4s 130ms/step - loss: 0.0073
Epoch 29/64
30/30 [==============================] - 4s 141ms/step - loss: 0.0072
Epoch 30/64
30/30 [==============================] - 4s 139ms/step - loss: 0.0074
Epoch 31/64
30/30 [==============================] - 4s 133ms/step - loss: 0.0071
Epoch 32/64
30/30 [==============================] - 5s 171ms/step - loss: 0.0073
Epoch 33/64
30/30 [==============================] - 4s 138ms/step - loss: 0.0074
Epoch 34/64
30/30 [==============================] - 4s 127ms/step - loss: 0.0073
Epoch 35/64
30/30 [==============================] - 4s 128ms/step - loss: 0.0074
Epoch 36/64
30/30 [==============================] - 4s 134ms/step - loss: 0.0071
Epoch 37/64
30/30 [==============================] - 4s 123ms/step - loss: 0.0072
Epoch 38/64
30/30 [==============================] - 4s 122ms/step - loss: 0.0072
Epoch 39/64
30/30 [==============================] - 4s 125ms/step - loss: 0.0074
Epoch 40/64
30/30 [==============================] - 4s 124ms/step - loss: 0.0072
Epoch 41/64
30/30 [==============================] - 4s 124ms/step - loss: 0.0072
Epoch 42/64
30/30 [==============================] - 4s 127ms/step - loss: 0.0071
Epoch 43/64
30/30 [==============================] - 5s 168ms/step - loss: 0.0071
Epoch 44/64
30/30 [==============================] - 4s 138ms/step - loss: 0.0071
Epoch 45/64
30/30 [==============================] - 4s 124ms/step - loss: 0.0071
Epoch 46/64
30/30 [==============================] - 4s 122ms/step - loss: 0.0070
Epoch 47/64
30/30 [==============================] - 4s 126ms/step - loss: 0.0073
Epoch 48/64
30/30 [==============================] - 4s 123ms/step - loss: 0.0069
Epoch 49/64
30/30 [==============================] - 4s 123ms/step - loss: 0.0071
Epoch 50/64
30/30 [==============================] - 4s 124ms/step - loss: 0.0070
Epoch 51/64
30/30 [==============================] - 4s 144ms/step - loss: 0.0070
Epoch 52/64
30/30 [==============================] - 5s 152ms/step - loss: 0.0072
Epoch 53/64
30/30 [==============================] - 5s 164ms/step - loss: 0.0072
Epoch 54/64
30/30 [==============================] - 5s 181ms/step - loss: 0.0070
Epoch 55/64
30/30 [==============================] - 5s 160ms/step - loss: 0.0071
Epoch 56/64
30/30 [==============================] - 5s 167ms/step - loss: 0.0071
Epoch 57/64
30/30 [==============================] - 5s 151ms/step - loss: 0.0071
Epoch 58/64
30/30 [==============================] - 4s 140ms/step - loss: 0.0070
Epoch 59/64
30/30 [==============================] - 7s 241ms/step - loss: 0.0070
Epoch 60/64
30/30 [==============================] - 7s 227ms/step - loss: 0.0071
Epoch 61/64
30/30 [==============================] - 6s 203ms/step - loss: 0.0070
Epoch 62/64
30/30 [==============================] - 6s 212ms/step - loss: 0.0070
Epoch 63/64
30/30 [==============================] - 5s 171ms/step - loss: 0.0071
Epoch 64/64
30/30 [==============================] - 5s 157ms/step - loss: 0.0069

In [22]:
inputs= dt[-timesteps:]
inputs = sc.transform(inputs)

In [23]:
X_test = []
X_test.append(inputs[0:timesteps])
X_test = np.array(X_test)
predictions = []

for j in range(timesteps,timesteps + 28):
    predicted_stock_price = regressor.predict(X_test[0,j - timesteps:j].reshape(1, timesteps, 150))
    testInput = np.column_stack((np.array(predicted_stock_price), daysBeforeEventTest[0][1913 + j - timesteps]))
    X_test = np.append(X_test, testInput).reshape(1,j + 1,150)
    predicted_stock_price = sc.inverse_transform(testInput)[:,0:149]
    predictions.append(predicted_stock_price)

In [24]:
idColumn = sample_submission[["id"]]
output_df = pd.DataFrame(data=np.array(predictions).reshape(28,149)).T
output_df = pd.concat([idColumn, output_df], axis=1) 
output_df.columns = sample_submission.columns

output_df.to_csv("Output/output_basic_LSTM_5.csv", index=False)